/*************************************************************************
 * GitHub: https://github.com/yenchiah/geo-heatmap
 * Version: v1.17
 *************************************************************************/

.color-scale-legend {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-scale-legend .legend-rect {
  opacity: 0.75;
}

.color-scale-legend .legend-top-text {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  width: auto;
  vertical-align: top;
}

.color-scale-legend .legend-bottom-text {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  width: auto;
  vertical-align: bottom;
}

.color-scale-legend .legend-text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 11px;
}