/*************************************************************************
 * GitHub: https://github.com/yenchiah/geo-heatmap
 * Version: v1.17
 *************************************************************************/

.geo-heatmap {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}