/*************************************************************************
 * This library is developed by Yen-Chia Hsu
 * Copyright Yen-Chia Hsu. All rights reserved.
 * GitHub: https://github.com/yenchiah/eda-viz-js
 * Dependencies: jQuery (http://jquery.com/)
 * Contact: hsu.yenchia@gmail.com
 * License: GNU General Public License v2
 * Version: v1.0
 *************************************************************************/

.geo-heatmap {
  position: relative;
  width: 100%;
  height: 100%;
}